<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GWTestSuite" parallel="false">

    <test name="Basic-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.gw.emulator.http.integration.EmulatorHeaderValidationTestCase"/>
        </classes>
    </test>
</suite>


